body{
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.ui-dialog .ui-header{
    margin: 2% auto 15px auto;
}

ul.listado-adicion{
    list-style: none;
    padding: 0px;
    -webkit-margin-before: 0 !important;
    margin: 0 !important;
}


#mesa-abrir-mesa-generica-btn{
    min-width: 85px;
}

#mesa-abrir-mesa-btn{
    min-width: 85px;
}

.ui-btn-inner{
    border-top: none;
}

ul.listado-adicion li {
    height: auto;
    margin: 5px 10px;
    min-width: 48px;
    max-width: 92px;
    vertical-align: top;
    width: 90%;
}
ul.listado-adicion li a {
    margin: 0;
    width: 100%;
}
.mesa-span {
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    padding-top: 0.9em !important;
    text-overflow: clip !important;
}

.mesa-icon {
    left: 7% !important;
    padding: 0 !important;
}

.mesa-created{
    color: #ffffff;
    font-size: small;
}

.listado-adicion li{
    display: inline-block;
    width: 10%;
}


.listado-adicion .mesa-numero{
    white-space: normal;
}



ul.listado-adicion .mesa-cobrada A{
    border: 1px solid #AEB1AF;
    background: #BFDCC9;
    color: #2B322D;
    font-weight: bold;
    text-shadow: none !important;
    
}

ul.listado-adicion .mesa-cerrada .mesa-cobrada{
    color: #0027C5;
}

ul.listado-adicion .mesa-cerrada .mesa-total{
    color: #B01E1E;
}

ul.listado-adicion .mesa-cerrada A{
      border: 1px solid #BDABAB;
    background: #DABCBC;
    font-weight: bold;
    text-shadow: none !important;
   
}

ul.listado-adicion .mesa-cerrada A:focus, ul.listado-adicion .mesa-cerrada A:active {
    background:#FF9C56;
    text-shadow: none !important;
}

ul.listado-adicion .mesa-abierta A:focus, ul.listado-adicion .mesa-abierta A:active{
    color:#fff !important;
    background:#4596ce;
    font-weight:bold;
    cursor:pointer;
    text-shadow: none !important;
    text-decoration:none;
    outline:0
}

.mesa-numero, .mozo-numero{
    font-size: 138%;
}




.mozos li a {
    color: #1C6F9A;
}

.mesa-mozo:focus, .mozo-cant-mesas:focus {
    color: #666666 !important;
}

ul.listado-adicion .mesa-mozo,ul.listado-adicion .mozo-cant-mesas {
    padding: 10px 0px 7px 0px;   
    text-align: center;
    font-size: small;
    text-shadow: none !important;
    font-weight:bold;
}

.mesa-tipofactura{    
    font-size: small;    
}

.mesa-descuento{
    text-align: center;
    font-size: small;
    text-shadow: none !important;
    display: block;
    font-weight: normal;
}

.mesa-total-sin-dto{
    color: #A76F6F;
    text-decoration: line-through;
    display: block;
}

.precio-sign::before {
    content: "$ ";
}

.mesa-descuento::before { 
    content: "dto. ";
}

.mesa {
    text-decoration: none;
}

.titulo-comanda {
    color: rgba(0, 0, 0, 0.4);
    margin: 0;
}

.id-comanda {
    color: rgba(0, 0, 0, 0.4);
}
.hora-comanda {
    color: #666666;
}

.ui-listview li div div a img {
    top: 12%;
    left: 5%;
}

.content_mesas, .content_mozos {
    background: none !important;
}

.content_mesas.scroll-exists .mesa-tipofactura
    ,.content_mesas.scroll-exists .mesa-tipofactura
    ,.content_mesas.scroll-exists .mesa-time    
    {
    display: none;
}

#listado-mozos, #listado-mesas  {
     background:#BBBBBB;
}

.abrir-mesa {
    margin: 0.5%;
    font-size: 96%;
    width: 10%;
    float: left;
    height: 72px;
}
.abrir-mesa span {
    overflow: visible !important;   
}


.mesa-abierta .mesa-total {
    color: #CBA484;
}

.mesa-total {
    color: #FFF1A8;
}
.hora-abrio {
    position: absolute;
    right: 20px;
}

.sep {
    color: #666666;
    font-weight: normal;
    font-size: 90%;
}

.comanda-listado-productos-string {
    font-size: 85%;
    color: #666666;
    font-weight: normal;
}

#comanda-detalle-collapsible .comanda-items{
    margin: 0px 1em;
    padding: 0px;
}



.comanda-items li{
    list-style: none;
    border-bottom: none;
    border-top: none;
    border-left-color: #B3B3B3;
    border-left-width: 1px;
    border-left-style: solid;
    border-right-color: #B3B3B3;
    border-right-width: 1px;
    border-right-style: solid;
    background-color: #D0D0D0;
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom-color: #B3B3B3;
    border-bottom-width: 1px;
    border-bottom-style: dashed;
}

.comanda-items li:last-child{
    margin-bottom: 1em;
    border-bottom-style: solid;
}

.comanda-items .adn-mesa-comanda-cantidad{
    background: white;
    padding: 3px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mesa-actions{
    width: 29%; 
    float: left;
}

.mesa-actions UL{
    width: 100%; 
}

.mesa-view{
    width: 70%; 
    float:right; 
    margin-top: -7px;
}

.mesa-view #mesa-textarea-observation{
    border: none;
    color: rgb(207, 0, 0);
}

.mesa-view #mesa-textarea-observation:focus{
    border: 1px solid grey;
    background: #FBFEFF;
}

.mesa-actions ul li {
    border-right-color: #B3B3B3;
    border-right-width: 1px;
    border-right-style: solid;
}

.mesa-actions ul li A {
    padding-left: 30% !important;
    font-size: 92% !important;
    overflow: visible !important;
    padding-right: 0 !important;
    text-overflow: visible !important;
}


/* Portrait and Landscape */
@media only screen 
  and (min-width: 320px) 
  and (max-width: 568px) {
    .mesa-actions ul li A{
        text-indent: -1000px;
    }
}




.mesa-actions ul li[estado='comanda-add-menu_mesa-cerrada'],
.mesa-actions ul li[estado='mesa-cerrar_mesa-cerrada'],
.mesa-actions ul li[estado='mesa-reabrir_mesa-abierta'],
.mesa-actions ul li[estado='mesa-re-print_mesa-abierta'],
.mesa-actions ul li[estado='comanda-add-menu_mesa-cobrada'],
.mesa-actions ul li[estado='mesa-cliente_mesa-cobrada'],
.mesa-actions ul li[estado='mesa-cerrar_mesa-cobrada'],
.mesa-actions ul li[estado='mesa-cobrar_mesa-cobrada']
{
    display: none;
}



ul#listado-mozos-para-mesas{
    padding: 0px;
    margin: 0px;
    background-color: #E7E7E7;
}

#listado-mozos-para-mesas li{
    display: inline-block;
    min-width: 40px;
    min-height: 30px;
    text-align: center;
    padding: 0px;
    margin: 0px;
    float: left;
}

#listado-mozos-para-mesas li a{
    text-decoration: none;
}


.menu-img{
    width: 100%;
}



ul.tipo_de_pagos ,.tipo_de_pagos ul{
    margin: 0px;
    padding: 0px;
        
}

.tipo_de_pagos li{
    text-align: center;
    display: inline-block;
    margin: 8px;
}

.tipo_de_pagos li a{
       text-decoration: none;
}

.tipo_de_pagos li img{
    width: 80px;
}





#mesa-cobrar .vuelto{
    float: right; 
    font-size: 24px; 
    color: #003366
}

#mesa-cobrar ul.pagos_creados{
    margin: 0px;
    padding: 0px;
}


.text-success{
    color: green;
}

.text-danger{
    color: red;
}

.text-warning{
    color: yellow;
}



.pagos_creados{}

.pagos_creados li{
    display: inline-block;
    width: 6em;
    margin-right: 10px; 
}

.pagos_creados li img{
    width: 100%;
}


.pagos_creados li input{
    width: 100%;
    text-align: center;
    background: beige;
    padding: 0px;
}

.es_entrada{
    color: #1C4773;
    padding: 3px 5px;
}

.tachada{
    text-decoration: line-through;
    color: #333;
    font-weight: normal;
}

.mesa-time{
    font-size: xx-small;    
}



@media (max-width: 1100px) { 
    .mesa-tipofactura{
        width: 99%;
    }
    .mesa-time{
        display: none !important;
    }
}

.cant_comensales{
    float: left;
}


.producto-precio{
    float: right;
}


#comanda-opciones{
  position: absolute;
  top: 40%;
  left: 40%;
  z-index: 99;
}


#comanda-add-observacion{
    position: absolute;
    right: 170px;
    width: 60%;
    z-index: 99;
    background-color: #4F4F4F;
}

#comanda-add-observacion TEXTAREA{
    width: 100%;
}



.btn-comanda-icon{
    background: url("img/print48.png") no-repeat;
    background-size: 22px;
    width: 45px;
    height: 22px;
    text-indent: -9999px;
}

.btn-comanda-icon:hover{
    background-size: 28px;
    text-indent: -66px;
}

#comanda-add-menu .btn-comanda-icon{
    width: 15px;
    position: relative;
    left: -15px;
    background: none;
}



.dialog-arriba .ui-header{margin-top: 10px;}
.dialog-ancho .ui-header, .dialog-ancho .ui-content, .dialog-ancho .ui-footer { max-width: 100% !important;}
.dialog-reancho .ui-header, .dialog-reancho .ui-content, .dialog-reancho .ui-footer { max-width: 100% !important; width: 94% !important; margin-left: 2% !important;}


.btn-comandas{
    max-width: 18%;
    font-size: small;
}

.btn-categoria{
   
}

.btn-comandas .ui-btn-inner{
   white-space: normal !important;
}


#ul-categorias{
    display: block;
}


#ul-categorias a.sin-imagen{
    width: 130px;
    height: 50px
}
#ul-categorias a.sin-imagen img{
    display: none;
}

#ul-categorias a.con-imagen{
    width: 70px;
    height: 85px;
    font-size: 12px;
}

#ul-categorias a{
    overflow: hidden;
    color: white;
    padding: 5px;
    margin: 5px;
    background: #4596ce /*{global-active-background-color}*/;
    border: 1px solid #155678;
    float: left;
    text-align: center;
    text-shadow: none;
    text-decoration: none;
}


#ul-productos a.active{
    border: 1px solid  orangered/*{e-bup-border}*/;
    background: #fad38e;
}

#ul-productos a.producto-con-sabor{
    border: 1px solid #F7C942 /*{e-bup-border}*/;
    background: pink;
}

#ul-productos a{
    overflow: hidden;
    color: white;
    padding: 13px 5px;
    margin: 5px;
    border: 1px solid #F7C942 /*{e-bup-border}*/;
    background: #fadb4e;
    float: left;
    text-align: center;
    text-shadow: none;
    text-decoration: none;
    color: #333 /*{e-bup-color}*/;
    text-shadow: 0 /*{e-bup-shadow-x}*/ 
}


#ul-productos .ui-btn-inner, #ul-categorias .ui-btn-inner{
    padding: .9em 5px !important;
    width: 92px;
}


.listado-adicion .ui-btn{
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
}


.listado-adicion .ui-btn:before, .listado-adicion .ui-btn:after
{
    position: absolute;
    width: 40%;
    height: 10px;
    content: ' ';
    left: 12px;
    bottom: 12px;
    background: transparent;
    -webkit-transform: skew(-5deg) rotate(-5deg);
    -moz-transform: skew(-5deg) rotate(-5deg);
    -ms-transform: skew(-5deg) rotate(-5deg);
    -o-transform: skew(-5deg) rotate(-5deg);
    transform: skew(-5deg) rotate(-5deg);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    z-index: -1;
} 

.listado-adicion .ui-btn:after
{
    left: auto;
    right: 12px;
    -webkit-transform: skew(5deg) rotate(5deg);
    -moz-transform: skew(5deg) rotate(5deg);
    -ms-transform: skew(5deg) rotate(5deg);
    -o-transform: skew(5deg) rotate(5deg);
    transform: skew(5deg) rotate(5deg);
}



 .header-cliente{
        text-align: center;
        height: 80px;
    }
    
    .header-cliente h4{
        display: inline-block;
        width: 200px;
        top: -12px;
        position: relative;
    }
    
    
        
    #add-mesa-paso3 input{
        background-color: #0a0;
        color: white;
    }
    
    #add-mesa-paso2 input{
        background-color: #155678;
        color: white;
    }
    
    
    #ul-productos-seleccionados a.ui-btn-icon-notext {
        width: 47px; height: 40px;
    }
    
    #ul-productos-seleccionados .ui-btn-icon-notext .ui-icon {
        width: 30px; height: 30px;
    }
    
    #ul-productos-seleccionados .ui-icon-plus {
        background-position: -0.8%;
    }
    
    #ul-productos-seleccionados .ui-icon-minus, .comanda-items .ui-icon-minus {
        background-position: -24px 50%;
    }
    
    #ul-productos-seleccionados .ui-icon-grid {
        background-position: -426px 50%;
    }
    
    #ul-productos-seleccionados .ui-li-count{
        font-size: 19px;
        padding-left: 5px;
        padding-right: 5px;
    }
    
    #ul-productos-seleccionados li.es-entrada{
        background: #437FBE;
    }
    
    #ul-productos-seleccionados li.tiene-observacion{
        
    }


ul.adicion-lista-mozo {
    list-style: none;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

ul.adicion-lista-mozo  .mozo-numero-txt{
    font-size:10px;
    color: #444;
    padding-bottom: 8px;
        margin-top: -14px;
}

ul.adicion-lista-mozo > li{
    text-align: center;
    }


ul.adicion-lista-mozo >li:nth-child(odd) {
    background-color: #B6B6B6;
    border: 1px solid #B3B3B3;
}
ul.adicion-lista-mozo >li:nth-child(even) {
    border: 1px solid #B3B3B3;
    background-color: #C6C6C6;
}

.adicion-listado-mozos-mesa-small .mesa-time{
    display: none;
}

.adicion-listado-mozos-mesa-small ul.listado-adicion li {
    margin: 2px 0px;   
}

.adicion-listado-mozos-mesa-big ul.listado-adicion li {
    margin: 5px 8px;   
}

.adicion-listado-mozos-mesa-small hr{
    display: none;
}

button.adicion-mozo-title {
    width: 98%;
    height: 100%;
    text-align: center;
    margin-top: -2px;
    margin-bottom: 10px;
    margin-left: 1%;
    margin-right: 1%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    max-width: 92px;
    min-width: 48px;
    min-height: 48px;
    max-height: 92px;
    text-align: center;
    padding: 0px;
    overflow: hidden;
}

button.adicion-mozo-title img{
    width: 100%;
} 



#abrir-mesa-nueva .overlay-content{
    /* some styles to position the modal at the center of the page */
    position: absolute;
    top: 25%;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    margin-top: auto;
    text-align: center;
    border-radius: 5px;
  
    /* needed styles for the overlay */
    z-index: 10; /* keep on top of other elements on the page */
    box-shadow: 0 0 40px 10px rgba(0,0,0,0.65);
    background: #eee;

}




/* The Overlay (background) */
.overlay {
    display: none;
    position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.75);

    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

#abrir-mesa-nueva h1{
    font-size: 14px;
    padding: 10px 0px;
}

#abrir-mesa-nueva label{
font-size: 10px;
    }


#abrir-mesa-nueva .btn-create-mesa-ok{
    font-size: 16px;
}

#abrir-mesa-nueva .btn-create-mesa-cancel{
    font-size: 16px;
}
#abrir-mesa-nueva .numero-mensaje-error-vacio, #abrir-mesa-nueva .cubiertos-mensaje-error-vacio{
    color: red;
    display: none;
    font-size: 10px;
}

#abrir-mesa-nueva  input{
    width: 90%;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
    text-align: center;
}

#abrir-mesa-nueva  input:focus{
    background-color: #f5f3b7;
}

#abrir-mesa-nueva .input-create-mesa-numero{
    font-size: 16px;
}


/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }